.nav-bar {
  background-color: lightcoral;
  padding: 10px;
}
link {
  text-decoration: none;
}

.book-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card-account {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.book {
  padding: 20px;
  font-family: cursive;
}
.singleBook {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.singleBook img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.singleBook h3 {
  text-align: center;
}
.singleBook p {
  text-align: center;
}
.singleBook button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  width: 350px;
}
.singleBook button:hover {
  background-color: orange;
}
.book button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
  background-color: transparent;
  width: 250px;
  cursor: pointer;
}
.book button:hover {
  background-color: lightgrey;
}
.book img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.book h4 {
  text-align: center;
  font-size: 19.5px;
}
.bookaccount {
  padding: 20px;
  font-family: cursive;
}
.bookaccount button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 250px;
}
.bookaccount button:hover {
  background-color: red;
  color: white;
  padding: 5px;
}
.bookaccount img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bookaccount h3 {
  text-align: center;
}
.registrationForm input {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.registrationForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  margin-top: 30px;
}
.registrationForm h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.registrationForm button:hover {
  background-color: lightgreen;
  color: black;
}

.loginForm input {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  margin-top: 30px;
}
.loginForm h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.loginForm button:hover {
  background-color: lightgreen;
  color: black;
}

.book-container h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbars {
  flex: 1;
  display: flex;
  justify-content: center;
}
